<header [style.background]="(this.selectedProject && !this.selectedProject.completed)?
          this.selectedProject.color:(this.selectedProject && this.selectedProject.completed)?'#bbb':''">
  <button *ngIf="!playButtonPressed" mat-icon-button class="add" (click)="openProjectCreationDialog()">
    <mat-icon class="add-button">add</mat-icon>
  </button>
  <button mat-mini-fab class="completion" color="primary"
          *ngIf="this.selectedProject && !this.playButtonPressed"
          (click)="setCompletion()">
    <mat-icon class="completion-button">{{this.selectedProject.completed ? 'swap_vert' : 'done'}}</mat-icon>
  </button>
  <div *ngIf="playButtonPressed" class="recordsDisplay"><p>{{recordDisplay}}</p></div>
  <p class="headerProjectName" *ngIf="selectedProject">{{selectedProject.name}}</p>
  <button mat-fab #playButton [disabled]="!this.selectedProject || this.selectedProject.completed"
          class="play"
          (click)="play()">
    <mat-icon class="play-button">{{this.playButtonPressed ? 'stop' : 'play_arrow'}}</mat-icon>
  </button>
</header>
<router-outlet (activate)="onActivate($event)"></router-outlet>
