<header [style.background]="(this.selectedProject && !this.selectedProject.completed)?
          this.selectedProject.color:(this.selectedProject && this.selectedProject.completed)?'#bbb':''">
  <div>
    <button *ngIf="!isInstanceOfProjects()" mat-icon-button class="back-button" (click)="onBackPressed()">
      <mat-icon class="scaled-icon">keyboard_arrow_left</mat-icon>
    </button>
    <button (click)="onElementAction()" class="element-button" mat-icon-button>
      <mat-icon class="scaled-icon">{{isInstanceOfProjects() ? 'add' : 'edit'}}</mat-icon>
    </button>

    <p *ngIf="this.runningRecord" class="time-indicator">{{timeDifference | date: 'HH:mm:ss' : '+0000'}}</p>
    <p class="project-name" *ngIf="selectedProject">{{selectedProject.name}}</p>
    <p class="task-name" *ngIf="selectedTask">{{selectedTask.description}}</p>
  </div>

  <div class="action-bar">
    <button #playButton
            [disabled]="!this.selectedProject || this.selectedProject.completed || (this.selectedTask && this.selectedTask.completed)"
            mat-fab
            class="play-button"
            (click)="play()">
      <mat-icon class="scaled-icon-large">{{this.runningRecord ? 'stop' : 'play_arrow'}}</mat-icon>
    </button>
    <button mat-mini-fab class="action-button" color="primary"
            (click)="setCompletion(selectedProject, !selectedProject.completed)"
            *ngIf="selectedProject"
            [disabled]="this.runningRecord != null">
      <mat-icon>{{selectedProject.completed ? 'swap_vert' : 'done'}}</mat-icon>
    </button>
    <!-- TODO Add button for completion of task to allow both actions from project view component -->
  </div>
</header>
<router-outlet (activate)="onActivate($event)"></router-outlet>
