html {
  background-color: lightgrey;
}

@media screen and (min-width: 0px) {

  header {
    width: 100%;
    height: 156px;
    background-color: lightseagreen;
    color: white;
    position: relative;

    .project-name {
      font-size: 16px;
      position: absolute;
      top: 80px;
      left: 64px;
    }

    .task-name {
      font-size: 12px;
      position: absolute;
      top: 100px;
      left: 64px;
    }
  }

  .scaled-icon {
    transform: scale(1.2);
  }

  .scaled-icon-large {
    transform: scale(1.2);
  }

  .action-bar {
    position: absolute;
    width: 100%;
    top: 128px;
  }

  .play-button {
    background-color: orange;
    margin-left: -28px;
    left: 50%;
    right: 50%;
  }

  .action-button {
    float: right;
    margin-top: 8px;
    right: 64px;
    background-color: lightseagreen;
  }

  .element-button {
    float: right;
    position: absolute;
    top: 24px;
    right: 24px;
  }

  .mat-fab[disabled] {
    background-color: rgba(200, 200, 200, 0.75);
    color: rgba(60, 60, 60, 0.25);
  }

  .back-button {
    position: absolute;
    top: 24px;
    left: 24px;
  }

  .time-indicator {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    top: 64px;
    font-size: 32px;
    font-weight: lighter;
  }
}

/*Desktop-CSS*/
@media screen and (min-width: 641px) {
  header div {
    position: relative;
    max-width: 780px;
    margin: 0 auto;
  }
  table {
    width: 70%;
  }

  tr:hover:not(.captionCompleted) {
    filter: brightness(90%)
  }
}

