<button (click)="openRecordCreationDialog()" *ngIf="(records.length === 0)"
        class="addFirst"
        mat-icon-button>
  <mat-icon class="addFirst-button">playlist_add</mat-icon>
</button>
<table *ngIf="records.length > 0"
       class="recordList">
  <colgroup>
    <col style="width:30%">
    <col style="width:30%">
    <col style="width:30%">
    <col style="width:10%">
  </colgroup>
  <th>Datum</th>
  <th>Start</th>
  <th>Ende</th>
  <tr *ngFor="let record of records">
    <td>{{record.startTime | date:'dd.MM.yy'}}</td>
    <td>{{record.startTime | date:'HH:mm:ss'}}</td>
    <td>{{record.endTime | date:'HH:mm:ss'}}</td>
    <td>
      <a routerLink="/records/{{record._id}}">
        <button class="arrow" mat-icon-button>
          <mat-icon class="arrow-button">keyboard_arrow_right</mat-icon>
        </button>
      </a>
    </td>
  </tr>
</table>
<button (click)="openRecordCreationDialog()"
        *ngIf="records.length > 0" class="new-taskOrRecord" mat-flat-button>Neuer Record
</button>
