<table *ngIf="records.length > 0"
       class="recordList">
  <colgroup>
    <col style="width:30%">
    <col style="width:30%">
    <col style="width:30%">
    <col style="width:10%">
  </colgroup>
  <th>Date</th>
  <th>Start</th>
  <th>End</th>
  <tr *ngFor="let record of records">
    <td>{{record.startTime | date:'dd.MM.yyyy'}}</td>
    <td>{{record.startTime | date:'HH:mm:ss'}}</td>
    <td>{{record.endTime | date:'HH:mm:ss'}}</td>
    <td>
      <button (click)="openEditRecordDialog(record)" class="arrow" mat-icon-button>
        <mat-icon class="arrow-button">edit</mat-icon>
      </button>
    </td>
  </tr>
</table>
