<h2>Edit task "{{data.description}}"</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="taskForm">
    <mat-form-field>
      <mat-label>Task Description</mat-label>
      <input [placeholder]="data.description" formControlName="taskDescription" matInput>
    </mat-form-field>
  </form>

</mat-dialog-content>
<mat-dialog-actions class="left">
  <button (click)="deleteTask()" color="warn" mat-button>Delete</button>
</mat-dialog-actions>
<mat-dialog-actions class="right">
  <button mat-button mat-dialog-close>Cancel</button>
  <button (click)="editTask()" [disabled]="!taskForm.valid"
          color="primary"
          mat-flat-button>Update Task
  </button>
</mat-dialog-actions>
