<html>
<form [formGroup]="myForm">

  <button mat-icon-button id="iconbutton" (click)="onClickClose()">
    <mat-icon id="iconsize">close</mat-icon>
  </button>


  <p></p>
  <h2>Neues Aufgabe</h2>

  <div id="valuepc">
    <span>Value: {{ myForm.value | json }}</span>
  </div>

  <p></p>


  <div id="inputs">
    <mat-form-field class="tasknameinput">
      <mat-label class="tasklabel">Aufgabenbeschreibung</mat-label>
      <input matInput placeholder="Aufgabenbeschreibung" formControlName="task">
    </mat-form-field>
  </div>


  <div id="container">
    <div class="centering-button">
      <button mat-raised-button color="primary" id="button" (click)="onClickFinish()">Fertig</button>
    </div>
  </div>
</form>

</html>
