<html>
<form [formGroup]="myForm">

  <button mat-icon-button id="iconbutton" (click)="onClickClose()">
    <mat-icon id="iconsize">close</mat-icon>
  </button>


  <p></p>
  <h2>Neues Projekt</h2>

  <div id="valuepc">
    <span>Value: {{ myForm.value | json }}</span>
  </div>

  <p></p>


  <div id="inputs">
  <mat-form-field class="projectnameinput">
    <mat-label class="projectlabel">Projektname</mat-label>
    <input matInput placeholder="Name your Project..." formControlName="project">
  </mat-form-field>

    <p></p>



  <mat-form-field class="pickcolorinput">
    <mat-label class="colorlabel">Farbe</mat-label>
    <mat-select formControlName="color" placeholder="Blue">
      <mat-option *ngFor="let color of colors" [value]="color.value">
        {{ color.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  </div>


  <div id="container">
    <div class="centering-button">
      <button mat-raised-button color="primary" id="button" (click)="onClickFinish()">Fertig</button>
    </div>
  </div>
</form>

</html>
